.container {
    //margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.upper_bar {
    margin-top: 10px;
    //background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
}

.left_content {
    //background-color: red;
    display: flex;
}

.website_container {
    //background-color: orange;
    width: 150px;
}

.contact_container {
    //background-color: green;
    width: 150px;
}

.gmail_container {
    //background-color: yellow;
    width: 150px;
}

.right_content {
    //background-color: aqua;
    display: flex;
}

.facebook_container {
    //background-color: orange;
    width: 50px;
}

.twitter_container {
    //background-color: green;
    width: 50px;
}

.youtube_container {
    //background-color: yellow;
    width: 50px;
}

.main_bar {
    margin-top: 10px;
    //background-color: red;
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: flex-end;
}

.name_container {
    //background-color: orange;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.right_main_content {
    //background-color: yellow;
    display: flex;
    align-items: center;
}

.positive_container {
    //background-color: yellowgreen;
    width: 100px;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.cured_container {
    //background-color: blue;
    width: 100px;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.reports_container {
    //background-color: rgb(166, 141, 231);
    width: 100px;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.newcases_container {
    //background-color: rgb(69, 50, 118);
    width: 100px;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.button_container {
    //background-color: orange;
    display: flex;
}

.main_image_container {
    //background-color: blue;
    width: 1000px;
    display: flex;
}

.main {
    width: 1000px;
}

.lower_content {
    margin-top: 20px;
    //background-color: red;
    display: flex;
    width: 900px;
    justify-content: space-evenly;
}

.cards {
    height: 300px;
}

.back {
    width: 1000px;
    position: fixed;
    z-index: -5;
    margin-top: 520px;
}


.maincontainer {
    //background-color: red;
    width: 1000px;
    padding: 10px;
}

.users {
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 10px 10px 20px rgb(218, 218, 218);
    color: black;
    font-size: 18px;
}

.name_container {
    //background-color: red;
    width: 70px;
    display: flex;
    justify-content: space-between;
}

.small_icons {
    height: 30px;
}

.navbar {
    background-color: white;
    height: 100vh;
    width: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
}

.navbar_container {
    display: flex;
    flex-direction: column;
    //background-color: red;
    height: 60vh;
    align-items: space-between;
    justify-content: space-between;
    padding-top: 100px;
}

.covidcare_container {
    background-color: #EDF1F8;
    display: flex;
    height: 100%;
    width: 75%;
    flex-direction: column;
    padding-left: 50px;
}

.Application {
    display: flex;
    background-color: #EDF1F8;
}

.logo_container {
    //background-color: yellow;
    width: 70px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_size {
    width: 70px;
}

.navbar_icons {
    width: 20px;
}

.covidcare_container2 {
    background-color: #EDF1F8;
    display: flex;
    height: 100%;
    width: 25%;
    flex-direction: column;
    justify-content: space-between;
}

.mainscreen_upperbar {
    //background-color: red;
    padding-left: 100px;
}

.mainscreen_main_content {
    display: flex;
    justify-content: space-around;
    //background-color: aqua;
}

.oxygen_container {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 281px;
    border-radius: 29px;
}

.patients_container_image {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 242px;
    border-radius: 29px;
}

.dots_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    padding-right: 20px;
}

.oxygen_tank_container {
    //background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.oxygen_cylinder_size {
    height: 90px;
}

.oxygen_count {
    //background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.mainscreen_main_graph {
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color: greenyellow;
    height: 500px;
}

.patients_container {
    //background-color: green;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piechart_container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 29px;
}

.inner_piechart_container {
    //background-color: gold;
    width: 250px;
}

.piechart {
    //background-color: yellow;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calender_container {
    width: 300px;
}

.calender {
    //background-color: aqua;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.multiple_container {
    width: 800px;
    background-color: white;
    border-radius: 15px;
}

.patients {
    height: 250px;
}

.doctors_container {
    //background-color: violet;
    width: 1000px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
}


.users2 {
    background-color: white;
    height: 50px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 10px 10px 20px rgb(218, 218, 218);
    color: black;
}

.doctors_name {
    #background-color: aqua;
    display: flex;
}

.doctors_labels {
    padding-left: 100px;
}

.users3 {
    background-color: white;
    height: 50px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: black;
    font-size: 18px;
}